<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Generator Kont Bankowych</title>
</head>
<body><h1>Here will be Bank Account Generator </h1>
<p>It's comming soon...</p>

<form action="/generate" th:object="${bankiZObiektu}" method="post">

    <select name="section" id="section">
        <option th:each="bank:${bankiZObiektu}" th:value="${bank.id}" th:text="${bank.name}"></option>
    </select>

    <input type="submit" value="Wybierz..."/>
</form>

    <ul>
        <li th:each="bank:${bankiZObiektu}" th:text="${'Bank: ' + bank.name  + '-' + bank.bankNumber}"></li>
    </ul>

    <br/>

</body>
</html>